{% extends 'base.html' %}
{% block content%}

<div class="container">
	
	{% if users %}
	<div class="section">
		<h5>Members</h5> 
		<ul class="collapsible" data-collapsible="accordion">
			<li>
				<div class="collapsible-header">Admin</div> 
				<div class="collapsible-body">
					<span>
						<table id="admin">
							<tr>
								<th>Uniqname</th>
								<th>Joined</th> 
								<th>Admin</th>
							</tr>
							{% for user in users %}
								{% if user.admin %}
									<tr>
										<td> {{ user.uniqname }} </td>
										<td> {{ user.joined }} </td>
										<td> 
											<form action='#'>
												<input 
												type="checkbox" 
												{% if user.disabled %}
													disabled
												{% endif %}
												{{"checked='checked'" if user.admin == 1 else ''}} 
												id="{{user.uniqname}}"
												/> 
												<label for="{{user.uniqname}}"></label>
											</form>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</table>
					</span>
				</div>
			</li>

			<li>
			<div class="collapsible-header">Non-Admin</div> 
			<div class="collapsible-body">
				<table id="nonadmin">
					<tr>
						<th>Uniqname</th>
						<th>Joined</th> 
						<th>Admin</th>
					</tr>
					{% for user in users %}
						{% if not user.admin %}
							<tr>
								<td> {{ user.uniqname }} </td>
								<td> {{ user.joined }} </td>
								<td> 
									<form action='#'>
										<input 
										type="checkbox" 
										{% if user.disabled %}
											disabled
										{% endif %}
										{{"checked='checked'" if user.admin == 1 else ''}} 
										id="{{user.uniqname}}"
										/> 
										<label for="{{user.uniqname}}"></label>
									</form>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</div>
	</div>
	{% endif %}

</div>
{% endblock %}
{% block js %}
<script>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(document).ready(function(){

		var newTableObject = document.getElementById("nonadmin"); 
		sorttable.makeSortable(newTableObject);
	    $('.collapsible').collapsible();

		//document ready
		var toggle_box = $('input:checkbox');
		$('input:checkbox').change( function(){
			uniqname= $(this).attr('id');
			state = $(this).is(':checked');
			URL = $SCRIPT_ROOT + '/_member_update_admin?uniqname='+uniqname + '&state='+state;
			$.getJSON($SCRIPT_ROOT + '/_member_update_admin?uniqname='+uniqname + '&state='+state, function(data) {
				if(data["success"]){
					console.log("successfully changed");
				}else{
					$(this).prop('checked', !state);
					console.log("unsuccessfully changed");
				}
			});
		});


	});

</script>

{% endblock %}