{% extends 'base.html' %}
{% block content%}

<div class="container">
	
	{% if users %}
	<div class="section">
		<h3>Members</h3> 
		<table>
			<tr>
				<th>Uniqname</th>
				<th>Joined</th> 
				<th>Admin</th>
			</tr>
			{% for user in users %}
			<tr>
				<td> {{ user.uniqname }} </td>
				<td> {{ user.joined }} </td>
				<td> 
					<form action='#'>
						<input 
						type="checkbox" 
						{% if user.disabled %}
							disabled
						{% endif %}
						{{"checked='checked'" if user.admin == 1 else ''}} 
						id="{{user.uniqname}}"
						/> 
						<label for="{{user.uniqname}}"></label>
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}

</div>
{% endblock %}
{% block js %}
<script>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

	$(document).ready(function(){
		//document ready
		var toggle_box = $('input:checkbox');
		$('input:checkbox').change( function(){
			uniqname= $(this).attr('id');
			state = $(this).is(':checked');
			URL = $SCRIPT_ROOT + '/_member_update_admin?uniqname='+uniqname + '&state='+state;
			$.getJSON($SCRIPT_ROOT + '/_member_update_admin?uniqname='+uniqname + '&state='+state, function(data) {
				if(data["success"]){
					console.log("successfully changed");
				}else{
					$(this).prop('checked', !state);
					console.log("unsuccessfully changed");
				}
			});
		});


	});

	var set_admin = function() {
		


};




</script>

{% endblock %}