{% set PATH_FAVICON = url_for('static', filename='img/logo_m.ico') %}
{% set PATH_CSS_MAIN = url_for('static', filename='css/main.css') %}
{% set PATH_LOGO_S = url_for('static', filename='img/logo_small.png') %}
{% set PATH_JS_JQ = url_for('static', filename='js/jquery.js') %}
{% set PATH_JS_SORTABLE = url_for('static', filename='js/sorttable.js') %}
{% set PATH_JS_MAIN = url_for('static', filename='js/main.js') %}

{% set 
		nav_links = [
			('Home', url_for('main.main_route') ),
			('Join', url_for('join.join_route') ),
			('Calendar', url_for('calendar.calendar_route') ),
			('Companies', url_for('companies.companies_route') ),
			('Contact', url_for('contact.contact_route') )
		]
 %}

<!DOCTYPE html>
<html lang="en">

<head>

	<title>Code-M - {% block title %}Home{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0"/>
	<link rel="shortcut icon" href="{{ PATH_FAVICON }}" type="image/x-icon">

	<!-- Stylesheets -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css" media="screen,projection">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
	<link href="{{ PATH_CSS_MAIN }}" type="text/css" rel="stylesheet" media="screen,projection"/>
	{% block css %}{% endblock %}
	<script src="{{ PATH_JS_SORTABLE }}"></script>

</head>
<body>

<nav class="white" role="navigation">
	<div class="nav-wrapper container">
		<a id="logo-container" href="/" class="brand-logo"><img src="{{ PATH_LOGO_S }}" height="29" width="150"></a>
		<ul class="right hide-on-med-and-down">
				{% for n in nav_links %}
				<li class='{% if n[0] == active_page %}active{% endif %}'>
					<a href='{{ n[1] }}'>{{ n[0] }}</a>
				</li>
				{% endfor %}
		</ul>

		<ul id="nav-mobile" class="side-nav">
				{% for n in nav_links %}
				<li class='{% if n[0] == active_page %}active{% endif %}'>
					<a href='{{ n[1] }}'>{{ n[0] }}</a>
				</li>
				{% endfor %}
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
	</div>
  </nav>  

	{% block content %} {% endblock %}


	<footer class="page-footer blue lighten-2">
		<div class="container">
			<div class="row">
				<a name="contact"></a>
				<div class="col s3 center-align">
					<a class="white-text" href="https://github.com/Code-M-Umich/" target="_blank"><i class="fa fa-github"></i></a>
				</div>
				<div class="col s3 center-align">
					<a class="white-text" href="mailto:code-m-board@umich.edu"><i class="fa fa-envelope"></i></a>
				</div>
				<div class="col s3 center-align">
					<a class="white-text" href="https://twitter.com/CodeMUmich" target="_blank"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="col s3 center-align">
					<a class="white-text" href="https://www.facebook.com/CodeMUmich" target="_blank"><i class="fa fa-facebook-square"></i></a>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2016 Code-M
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="{{ PATH_JS_JQ }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script src="{{ PATH_JS_MAIN }}"></script>
	{% block js %}{% endblock %}
</body>
</html>